body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.equalizer {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(6, 80px);
  border: 1px solid black;
}
.equalizer > div {
  border: 1px solid black;
}
header,
#audioFile,
#audioPlayer {
  display: block;
  padding: 12px;
}
